@import url('https://fonts.google.com/specimen/Hanken+Grotesk');


h1, button {
    color:white;
}

.resummary{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
height:100vh;
 
}
.rating {
    height: 200px;
    width: 200px;
    background: hsla(256, 72%, 46%, 1);
    border-radius: 50%;
    display:inline-block;
    line-height: 0.9;   

}

.rating h1{

    font-size: 60px;
}
#result {
background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
padding: 2rem 2rem;
max-height: 450px;
max-width: 350px;
box-sizing: border-box;
text-align: center;
border-radius: 5%;
box-sizing: border-box;
}

#summary {
background:white;
padding: 2rem 2rem;
width: 350px;
min-height: 450px;
box-sizing: border-box;
box-shadow: hsla(241, 100%, 89%, 0.3)  0px 7px 29px;
}

body {
    font-family: 'Jost', sans-serif;
}

#points {

display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}

.elements {
    width:100%;
    height: 50px;
    border-radius: 0.6rem;
    box-sizing:border-box;
    padding: 0.5em 0.5em;
    max-height: 50px;
    position:relative;
}

.elements:nth-child(1) {
background: hsla(0, 100%, 67%, 0.1);
color:hsl(0, 100%, 67%);
}

.elements:nth-child(2) {
background: hsla(39, 100%, 56%, 0.1);
color:hsl(39, 100%, 56%);

}

.elements:nth-child(3) {
background:hsla(166, 100%, 37%, 0.1);
color:hsl(166, 100%, 37%);

}

.elements:nth-child(4) {
background:hsla(234, 85%, 45%, 0.1);
color:hsl(234, 85%, 45%);
}
.continue {
    background: hsla(256, 72%, 46%, 1);
 margin-top: 30px;
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 50px;
    border: 0;
    border-radius: 2rem;
    font-size: 18px;
}
.elements span {
    float: right;
}
#summary h2 {
   color: hsl(224, 30%, 27%);
}

.elements .resultnumber span {
    color: hsl(224, 30%, 27%);
    float: right;
}